@font-face {
  font-family: IBMPlexSansThin;
  src: url(../fonts/IBMPlexSans/IBMPlexSans-Thin.ttf);
}
@font-face {
  font-family: IBMPlexSans;
  src: url(../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: IBMPlexSansBold;
  src: url(../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf);
}
/* Declare a class which applies it */
.IBMPlexSansThin {
  font-family: 'IBMPlexSansThin';
}
.IBMPlexSans {
  font-family: 'IBMPlexSans';
}
.IBMPlexSansBold {
  font-family: 'IBMPlexSansBold';
}