@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

:root {
  color: $white;
  background: $black;
  font-family: 'IBMPlexSans', system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app,
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBMPlexSansBold', system-ui, sans-serif;
  margin-block-start: 0;
  margin-block-end: 20px;
}

h1 { font-size: 42px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

p {
  color: $white;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.graphic {
  width: 100%;
  padding: 0;

  img,
  svg {
    width: 350px;
    object-fit: cover;
    overflow: hidden;
    @include breakpoint($break-ssm) {
      width: 100%;
    }
  }
}

button,
.link-button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 35px;
  min-width: 220px;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  background: rgb(17, 16, 16);
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid transparent;  
  border-radius: 12px;
  padding: 8px 24px;
  cursor: pointer;
  transition: border-color 0.6s;

  &:hover {
    border-color: rgb(69, 73, 77);
  }
  &:focus, 
  &:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
  }
}

.card {
  height: 96%;
  padding: 2%;
  background: rgb(17, 16, 16);
  border-radius: 12px;
  margin: 0;
  overflow: scroll;
}

.hide-mobile {
  display: none;
}

.show-mobile {
  display: inline;
}
